/* Hide the theme toggle button */
button[aria-label*="theme"],
button[aria-label*="mode"],
[data-theme-toggle] {
  display: none !important;
}
#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}